canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    font-size: 24px;
    color: black;
}

#content {
    float: right;
    width: 60%;
}

.box {
    background-color: rgba (255, 255, 255, 0.5);
    border-radius: 3px;
}

h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -70px;
    text-shadow: 1px 1px 1px
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: -70px;
    text-shadow: 1px 1px 1px
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    margin: -70px;
    font-size: 35px;
    padding-top: 70px;
    text-shadow: 1px 1px 1px
}
h4 {
    font-family: 'Courier New', Courier, monospace;
    margin: -70px;
    font-size: 35px;
    padding-top: 70px;
    text-shadow: 1px 1px 1px

}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -70px;
    text-shadow: 1px 1px 1px
}

@media screen and (max-width: 600px) {
    #content {
        float: none;
        width: 100%;
    }
}
